span.fig-box {
  display: block;
  text-align: center;
}

span.caption {
  display: block;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.3;
  color: #555;
  outline: 0;
  z-index: 300;
  text-align: center;
}