<section class="about-me">
  <h1>About Me</h1>
  <img src="{{ root_url }}/images/me.jpg" alt="Me" title="Cristian Cardellino">
  <p>I'm a computer scientist and researcher in Statistical Natural Language
    Processing. I'm also a programmer, a geek and a casual gamer. This is my
    blog about the problems I come across while programming things for my
    research. I develop in Scala and Python (and the Django Web Framework). I
    also know a little of C and C++ and sometimes write Bash and Perl scripts.
    I've been in touch with Java and even done some work in PHP. I hope my
    experience helps you. Thanks for reading!</p>
</section>
