<section>
  <h1>Find Me</h1>
  <ul>
    <li>
      <i class="fa fa-globe fa-lg"></i>
      <a href="http://crscardellino.me">crscardellino.me</a>
    </li>
    <li>
      <i class="fa fa-twitter fa-lg"></i>
      <a href="https://twitter.com/neurotikal">@neurotikal</a>
    </li>
    <li>
      <i class="fa fa-github fa-lg"></i>
      <a href="https://github.com/crscardellino">crscardellino</a>
    </li>
    <li>
      <i class="fa fa-linkedin-square fa-lg"></i>
      <a href="https://www.linkedin.com/in/crscardellino/en">crscardellino</a>
    </li>
  </ul>
</section>
