<div id="footer-wrapper">

	<!-- Copyright -->
		<div id="copyright" class="container">
			<ul class="links">
				<li class="first">Design: <a href="http://html5up.net/">HTML5 UP</a></li>
				<li>Powered by <a href="http://harpjs.com/">Harp.js</a> &amp; <a href="http://github.io/">Github</a></li>
			</ul>
      
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a><br />
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">crscardellino.github.io</span> by
      <a xmlns:cc="http://creativecommons.org/ns#" href="crscardellino.github.io" property="cc:attributionName" rel="cc:attributionURL">Cristian Cardellino</a>
      is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		</div>

</div>