<div id="sidebar" class="4u">

	<!-- Highlights -->
		<section>
			<ul class="divided">
				<li>
					<!-- Highlight -->
						<article class="is-highlight">
							<header>
								<h3><a href="/about">About me</a></h3>
							</header>
							<a href="/about" class="image image-left"><img src="images/me.jpg" alt="" /></a>

							<p>Neurotic! I'm a computer scientist and researcher in NLP (or Natural 
                Language Processing).I'm also a programmer, a geek and a casual gamer (natural
							  rager). This is my blog about the problems I come across while programming 
                things for my research. I'm a old time Python user, I know C and some C++.
                Sometimes I script in AWK, SED and other BASH commands and I'm a newly
                in-training Scala programmer. Hope my blog help you somehow..</p>
						</article>

				</li>
        <li>
          <article class="is-highlight">
            <header>
              <h3>Find me</h3>
            </header>
    					<ul id="find-me" class="icons">
    						<li class="icon icon-twitter">
    							<a href="http://twitter.com/neurotikal" target="_blank">@neurotikal</a>
    						</li>
    						<li class="icon icon-linkedin">
    							<a href="www.linkedin.com/in/crscardellino/" target="_blank">Cristian Cardellino</a>
    						</li>
    						<li class="icon icon-blogger">
    							<a href="http://waitingragnarok.blogspot.com" target="_blank">Waiting for Ragnarök (Spanish)</a>
    						</li>
    					</ul>
							<ul class="actions">
								<li><a href="/contact" class="button button-icon icon icon-envelope">Contact me</a></li>
							</ul>
          </article>
        </li>
			</ul>
		</section>
</div>