div.container
  h1.typewriter
    a(href="/") Cristian Cardellino
  ul#navbar.list-inline.h4.typewriter
    li.active
      a.active(href="/about") Human.
    li
      a(href="/blog") Coder.
    li
      a(href="http://waitingragnarok.crscardellino.me/", target="_blank") Writer.
    li
      a(href="/contact") Geek.

  