<!-- Banner Wrapper -->
<div id="banner-wrapper">
	<div class="inner">

		<!-- Banner -->
			<section id="banner" class="container">
				<p>A man provided with paper, pencil, and rubber, and subject to strict discipline,
          is in effect a universal machine.</p>
          <small>Alan Turing, "Intelligent Machinery: A Report by A. M. Turing"</small>
			</section>

	</div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">

	<!-- Main -->
		<div id="main" class="container">
			<div class="row">
			
				<!-- Content -->
					<div id="content" class="12u skel-cell-mainContent">

						<!-- Post -->
							<article class="is-post">
								<header>
									<h2>About me</h2>
								</header>
                
                <p>When I started the university I thought of myself as a
                programmer. Like most of all, I've started with the idea of
                programming videogames. I'd also flirted with hacking and
                security. I like logic, and computability theory, and I still
                enjoy the pleasure of coding. For the last 4 years I've been a
                Python developer although I used C or C++ from time to time.
                Now, however, I've been diving in the sea of Scala, just for a
                change, and I've been abandoning other tools since then
                (although I still use JavaScript for front end development).
                I'm also a regular user of text processing languages, mainly
                the ones in BASH: AWK and SED being my top choice.</p>

                <p>However, nowadays I'm a kind of hybrid between a Computer
                Scientist and a Linguistic. I'm actually a PhD. Student at
                FaMAF in Córdoba, Argentina, in the area of Information
                Extraction, in the huge field of Natural Language
                Processing.</p>

                <p>If you've read my Twitter bio, and of course, you know
                Spanish, you'll find out I'm also a geek, a gamer and a rager,
                and I have serious OCD problems. Just another person trying to
                leave his mark in the world.</p> </article>
					
					</div>

			</div>
		</div>

</div>