section#header(style="background-image: url(../images/soldier.jpg);")
section#content
  != partial("_include/navbar", {about: true})

  div.container.main
    h2 About me

    p.justify
      | It's been quite a while since my days learning programming languages by myself 
      | with the sole intention to develop a videogame, of course I didn't event
      | know what did the word "develop" mean in those days.
      
    p.justify
      | The years went on, I was just a teenager in that time and I really thought 
      | at some point it would be easy to program my first game. I was wrong. 
      | It's still hard nowadays, and there are lots of frameworks to facilitate the 
      | process of creating videogames. Back then was plainly impossible without a
      | big team. Not at least the kind of games I wanted to create.

    p.justify
      | Years later I started the university thinking of myself as a programmer. Besides videogames 
      | I did some research on hacking and security. I like logic, computability theory,
      | and enjoy coding for hobby. For the last 4 years I've been a
      | Python developer although I also programmed in C or C++ from time to time. Now, however,
      | I've been diving in the seas of Scala and JavaScript, just for a change, and I've been
      | abandoning other tools since then. I'm also a regular user of scripting
      | languages like SH, AWK and SED. I get bored fairly easy, so I try to learn new things 
      | every time I can: languages, frameworks, paradigms and technologies in general.

    p.justify
      | I have a masters in Computer Sciences which I obtained in 2013.
      | In the present time I'm a kind of hybrid between a Computer Scientist and a
      | Linguist. I'm a Natural Language Proccessing PhD. Student at FaMAF in Córdoba, Argentina.
