- function excerpt(content, slug) {
  - if(content.indexOf("<!-- more -->") == -1) return content;
  - else return content.split("<!-- more -->")[0] + '<a href="posts/' + slug + '" target="_blank">Read more</a>';
- }

section#header(style="background-image: url(../images/lamp.jpg);")
section#content
  != partial("_include/navbar", {blog: true})

  div.container
    div.row
      div.col-md-12
        h2 Blog

    div.row
      div.col-md-9.text-justify
        for post, slug in public.posts._data
          div.row
            div.col-md-9
              h3: a(href="/posts/#{ slug }")= post.title
            div.col-md-3  
              span.date.btn.btn-default.btn-block.btn-default(disabled="disabled"): = post.date
          != excerpt(partial("posts/" + slug), slug)

      div.col-md-3