<!-- Main Wrapper -->
<div id="main-wrapper">

	<!-- Main -->
		<div id="main" class="container">
			<div class="row">
			
				<!-- Content -->
					<div id="content" class="12u skel-cell-mainContent">

      			<header>
      				<h2>Questions or comments? <strong>Get in touch:</strong></h2>
      			</header>
      			<div class="row">
      				<div class="6u">
      					<section>
      						<form method="post" action="#" id="contact-form">
      							<div class="row half">
      								<div class="6u">
      									<input name="name" placeholder="Name" type="text" class="text" />
      								</div>
      								<div class="6u">
      									<input name="email" placeholder="Email" type="text" class="text" />
      								</div>
      							</div>
      							<div class="row half">
      								<div class="12u">
      									<textarea name="message" placeholder="Message"></textarea>
      								</div>
      							</div>
      							<div class="row half">
      								<div class="12u">
      									<a id="submit-contact-form" href="#" class="button button-icon icon icon-envelope">Send Message</a>
      								</div>
      							</div>
      						</form>
      					</section>
      				</div>
      				<div class="6u">
      					<section>
      						<p>I currently work at FaMAF, the Faculty of Mathematics, Astronomy and Physics, 
                    in the National University of Córdoba, Argentina. If I'm around in the building,
                    you'll probably find me the office number 283. The best way to contact me is by
                    this form or via email: <strong>ccardellino AT famaf DOT unc DOT edu DOT ar</strong>
                  </p>
      						<div class="row">
      							<ul class="icons 6u">
      								<li class="icon icon-home">
      									Av. Medina Allende s/n<br />
      									Ciudad Universitaria<br />
                        X5000HUA Córdoba<br />
                        Argentina
      								</li>
      								<li class="icon icon-phone">
      									+54 351 4334051 (283)
      								</li>
      							</ul>
      							<ul class="icons 6u">
      								<li class="icon icon-twitter">
      									<a href="http://twitter.com/neurotikal" target="_blank">Twitter</a>
      								</li>
      								<li class="icon icon-linkedin">
      									<a href="http://www.linkedin.com/in/crscardellino/" target="_blank">Linked In</a>
      								</li>
      								<li class="icon icon-github">
      									<a href="http://www.github.com/crscardellino/" target="_blank">Github</a>
      								</li>
      								<li class="icon icon-blogger">
      									<a href="http://waitingragnarok.blogspot.com" target="_blank">Blogger (Spanish)</a>
      								</li>
      							</ul>
      						</div>
      					</section>
      				</div>
      			</div>
					
					</div>
			</div>
		</div>

    <script type="text/javascript">
      $("#submit-contact-form").click(function(event) {
        event.preventDefault();

        $.post("http://www.cs.famaf.unc.edu.ar/~ccardellino/email.php",
          $("#contact-form").serialize(),
          function (data) {
            console.log(data);
          });
      });
    </script>
</div>