section#header(style="background-image: url(../images/founder.jpg);")
section#content
  div.container
    h1.typewriter
      a.emph(href="/") Cristian Cardellino
    ul.list-inline.h4.typewriter
      li
        a(href="/about") Human.
      li
        a(href="/blog") Coder.
      li
        a(href="http://waitingragnarok.crscardellino.me/", target="_blank") Writer.
      li
        a(href="/contact") Geek.

    blockquote.banner
      h3.typewriter A man provided with paper, pencil, and rubber, and subject to strict discipline, is in effect a universal machine.
      p.typewriter.small.pull-right Alan Turing, "Intelligent Machinery: A Report by A. M. Turing".

