section#header(style="background-image: url(../images/bridge.jpg);")
section#content
  != partial("_include/navbar", {social: true})

  div.container
    div.row
      div.col-md-12
        h2 Personal Blog and Social Networks
        
        div.row
          div.col-md-6
            p.justify
              | Not all about me is on computers. I also enjoy reading.
              | Jorge Luis Borges, Stephen King, Julio Cortázar, J. K. Rowling,
              | Jack London, Philip K. Dick. From the popular ones to the critically
              | acclaimed. As long as the reading is interesting enough.<br/>
              | And, from time to time I write some stuff by myself also.
              | You can check some of it in my personal blog, but it is in spanish. <br/>

          div.col-md-6
            div.row
              div.col-md-12
                div.row.contact-info
                  div.col-md-12
                    p.justify
                      | As long as social networking, you can find me on Twitter. And, of course,
                      | I'm in Facebook but I only accept personal friends there.
                div.row.contact-info
                  div.col-md-2.no-right-padding
                    i.fa.fa-twitter.fa-2x
                  div.col-md-10.info
                    a(href="https://twitter.com/neurotikal", target="_blank") Twitter Profile
                div.row.contact-info
                  div.col-md-2.no-right-padding
                    i.fa.fa-laptop.fa-2x
                  div.col-md-10.info
                    a(href="http://waitingragnarok.crscardellino.me/", target="_blank") Waiting for Ragnarök (blog in spanish)
                div.row.contact-info
                  div.col-md-2.no-right-padding
                    i.fa.fa-tumblr.fa-2x
                  div.col-md-10.info
                    a(href="http://waitingragnarok.tumblr.com/", target="_blank") Tumblr Blog