section#header(style="background-image: url(../images/lamp.jpg);")
section#content
  != partial("_include/navbar", {tech: true})

  div.container
    h2 Professional Experience

    p.justify
      | This page, originally hold my technical blog. I decided however to move it to its own 
      | <a href="/blog" target="_blank">subdomain</a> and create the blog with
      | <a href="http://octopress.org/" target="_blank">Octopress</a> as the result was a little more professional
      | as well as tidier (the original blog was quite a mess).
      | Please check my series of tutorial: <a href="/blog/from-python-to-scala" target="_blank">From Python to Scala</a>.

    p.justify
      | I'll leave this page open for now. With time it will be filled with my professional portfolio.
      | As I state in my <a href="/about">about</a> page, I'm a newly Scala developer with
      | a background in Python developing. I worked as a Python and Django Jr. developer at
      | <a href="http://www.machinalis.com/" target="_blank">Machinalis</a>. I also was in an internship at
      | <a href="https://www.inria.fr/" target="_blank">Inria</a> in their
      | <a href="https://www.inria.fr/en/centre/sophia" target="_blank">Sophia Antipolis</a> research facility, as a part
      | of the <a href="http://wimmics.inria.fr/" target="_blank">Wimmics Research Group</a>.
      | While there I worked as a Scala and <a href="https://www.playframework.com/" target="_blank">Play! Framework</a>
      | developer (with a little practice in Java as well).