<p>
  Content <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">&copy; 2015 by Cristian Cardellino</a> -
  <span class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a> &amp; <a href="http://github.io" target="_blank">GitHub Pages</a></span> -
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0; vertical-align:middle;" src="{{ root_url }}/images/ccbysa.png"/></a>
</p>
