section#footer  
  div.container
    div.row
      div.col-md-7 &nbsp;
      div.col-md-5
        h4.pull-right
          | Website design 
          a(rel="license", href="http://creativecommons.org/licenses/by-sa/4.0/", target="_blank") &copy; 2014 Cristian Cardellino
    div.row
     div.col-md-8 &nbsp;
     div.col-md-4.pull-right
       p.pull-right
         | Powered by 
         a(href="http://harpjs.com", target="_blank") Harpjs 
         | &amp; 
         a(href="http://github.io", target="_blank") GitHub Pages
         
    div.row
      div.col-md-8 &nbsp;
      div.col-md-4
        a.pull-right(rel="license", href="http://creativecommons.org/licenses/by-sa/4.0/")
          img(alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png")