div.container
  h1.typewriter
    a(href="/") Cristian Cardellino
  ul#navbar.list-inline.h4.typewriter
    if about
      li
        a.active(href="/about") Human.
    else
      li
        a(href="/about") Human.
    if tech
      li
        a.active(href="/tech") Coder.
    else
      li
        a(href="/tech") Coder.
    if social
      li
        a.active(href="/social") Writer.
    else
      li
        a(href="/social") Writer.
    if contact
      li
        a.active(href="/contact") Geek.
    else
      li
        a(href="/contact") Geek.