{% extends "base.html" %}

{% block head_title %}Archive{% endblock %}

{% block content %}
<main class="content" role="main">
  <article class="post">
    <div class="article-image">
      <div class="post-image-image" style="background-image: url('{{ SITEURL }}/assets/img/storm.jpg')">
        Article Image
      </div>
      <div class="post-meta">
        <h1 class="post-title">Archive</h1>
        <div style="text-align:center">
          <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    <section class="post-content">
      <a name="topofpage"></a>
      <h1>
        <a href="{{ SITEURL }}/archive/categories">Categories</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        <a href="{{ SITEURL }}/archive/tags">Tag Cloud</a>
      </h1>
      <section class="archive-post-list">
        {% for year, articles in dates | groupby('date.year') | reverse %}
          <h2>{{ year }}</h2>
          <ul>
            {% for article in articles %}
              <li><span>{{ article.date.strftime('%B %-d, %Y') }}</span> - <a href="{{ SITEURL }}{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </section>
    </section>
  </article>
</main>
{% endblock %}

{% block creative_commons %}{% endblock %}