{% extends "base.html" %}

{% block head_title %}Tags{% endblock %}

{% block content %}
<main class="content" role="main">
  <article class="post">
    <div class="article-image">
      <div class="post-image-image" style="background-image: url('/assets/img/storm.jpg')">
        Archive Image
      </div>
      <div class="post-meta">
        <h1 class="post-title">Archive: Tag Cloud</h1>
        <div style="text-align:center">
          <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    <section class="post-content">
      <a name="topofpage"></a>
      <ul class="tagcloud">
        {% for tag in tag_cloud %}
          <li class="tag-{{ tag.1 }}">
            <a href="/{{ tag.0.url }}">{{ tag.0 }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </article>
</main>
{% endblock %}

{% block creative_commons %}{% endblock %}