// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h1.title {
  text-shadow: 1px 1px #000;
}

h2.subtitle {
  font-family: monospace;
  color: #FFF;
  text-shadow: 1px 1px #000;
}

.about-me {
  img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

header[role="banner"] {
  background-image: url('/images/soldier.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
}

.signup {
  text-align: center;

  textarea {
    height: 150px !important;
  }

  .form-control {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 45px;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(0,0,0,.4);
    background: #f8f8f8 url('/images/noise.png?1440529479') top left;
  }

  .btn {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #325d88;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      background-color: #244363;
    }
  }

  .form-control:focus {
    outline: none;
    border-color: #325d88;
  }
}
