// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h2.subtitle {
  font-family: monospace;
}

.about-me {
  img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
