@font-face {
  font-family: 'AFL Typewriter Font';
  src: url('../fonts/aflfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body
{
  height: 100%;
  color: #000;
  font-family: 'Source Sans Pro', 'Helvetica Neue', helvetica, sans-serif;
}

a {
  color: #000;

  &:hover, &:focus {
    color: #A00;
    text-decoration: none;
  }
  
  &.emph {
    color: #a00;
  }
}

p {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 300;
}

.justify {
  text-align: justify;
}

#header {
  background-repeat: no-repeat;
  height: 45%;
  position: relative;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

#content {
  background-image: url(../images/background.png);
  background-size: 500px 300px;
  background-repeat: repeat;
  position: relative;
  min-height: 40%;

  #navbar {
    a.active {
      color: #a00;
      border-bottom: 2px solid #a00;
      padding-bottom: 3px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  blockquote.banner {
    border: none;
    padding: 0px 50px;
    margin-top: 35px;

    h3 {
      font-size: 25px;
    }

    .small {
      color: #555;
    }
    
    &:before {
      content: "\f10d"; 
      font-family: FontAwesome;
      float: left;
      margin-right: 10px;
      padding-left: 40px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  }
}

#footer {
  background-image: url(../images/footer.png);
  background-size: 400px 400px;
  background-repeat: repeat;
  min-height: 15%;
  
  color: #aaa;

  a {
    color: #eee;

    &:hover, &:focus {
      color: #a00;
    }
  }
  
  p {
    margin: 0;
  }
}

.typewriter {
  font-family: 'AFL Typewriter Font', 'Courier New', courier, monospace;
}